body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 149px;
  background-color: white;
  position: relative;
}

.logo-text {
  font-size: 55px;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.icon {
  width: 87px;
  height: 75px;
}

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 21px;
  height: 21px;
  cursor: pointer;
  gap: 4px;
  position: absolute;
  left: 20px;
}

.burger div {
  height: 3px;
  background-color: black;
  border-radius: 2px;
}


.home {
  background-image: url('img/home1.png');
  background-size: cover;
  background-position: center;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding: 0 80px;
  box-sizing: border-box;
}

.home-content {
  text-align: right;
  max-width: 366px;
}

.home h1 {
  color: #961223;
  font-family: 'Inter', sans-serif;
  font-weight: 900; 
  font-size: 48px;
  margin: 0 0 20px 0;
}

.home p {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 40px 0;
}

.home-btn {
  display: inline-block;
  background-color: #961223;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  width: 228px;
  height: 81px;
  line-height: 81px;
  border-radius: 40px;
}

.home-btn:hover {
  background: #b92b3b; 
  transition: 0.3s;
}





.shop-section {
  background: white;
  padding: 60px 80px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.shop-title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 40px;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product {
  width: 18%;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.product img {
  width: 100%;
  max-width: 251px;
}

.product h3 {
  color: #961223;
  font-weight: 600;
  font-size: 16.5px;
  margin-top: 10px;
}

.size {
  font-size: 12px;
}

.desc {
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.price-icon {
  width: 24px; 
  height: 24px;
  cursor: pointer;
  transition: color 0.3s;
  stroke: currentColor;
}

.price-container:hover .price-icon,
.price-container:hover .price {
  color: #961223; 
}

.note-red {
  font-size: 16px;
  color: #961223;
  margin-top: 50px;
}

.note-black {
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin-top: 10px;
}



.harmony {
  background-color: white;
  padding: 60px 80px;
}

.harmony-gallery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left img,
.right img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 20px;
}

.middle img {
  width: 100%;
  height: 315px;
  object-fit: cover;
  border-radius: 20px;
}


.harmony-text {
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
}

.harmony-text h2 {
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 15px;
}

.harmony-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
}

.harmony-text .highlight {
  font-size: 20px;
  color: #961223;
  margin-top: 10px;
  margin-bottom: 40px;
}

.harmony-btn {
  display: inline-block;
  background-color: #961223;
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  width: 354px;
  height: 72px;
  line-height: 72px;
  border-radius: 90px;
}
.harmony-btn:hover {
  background-color: #b92b3b; 
  transition: 0.3s;
}


.about {
  background-color: #fbe9e4;
  padding: 40px 80px;
  font-family: 'Inter', sans-serif;
}

.about h1 {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 40px;
  }

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;     
  gap: 40px;
}

.about-img {
  width: 50%;
  object-fit: cover;
}

.about-text {
  width: 50%;
  text-align: left;
}

.about-text h2, .about-text h3 {
  color: #961223;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-text h2 { 
  font-size: 24px; 
}
.about-text h3 { 
  font-size: 24px; 
}

.about-text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-text ul {
  font-size: 16px;
  margin-bottom: 30px;
}

.about-quote {
  background-color: white;
  border-radius: 45px;
  padding: 25px 30px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #961223;
}

.contact {
    padding: 60px 80px;
    font-family: 'Inter', sans-serif;
    position: relative;      
    overflow: hidden;        

}
.footer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;              
    height: 100%;             
    object-fit: cover;        
    z-index: -1;                          
}
.contact-title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.contact-subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.contact-left {
    width: 60%;
    font-size: 20px;
}

.left-heading {
    font-size: 32px;
    color: #961223;
    margin: 20px 0 10px 0;
}

.contact-right {
    width: 40%;
    font-size: 20px;
}

.right-heading {
    font-size: 32px;
    color: #961223;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form label {
    font-size: 16px;
    margin-top: 10px;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-form textarea {
    width: 100%;
    height: 120px;
    margin-top: 5px;
}

.submit-btn {
    width: 88px;
    height: 27px;
    background: #961223;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.submit-btn:hover {
    background: #b92b3b;
}

.small-text {
    font-size: 15px;
    color: #707070;
    margin-top: 10px;
}

.social-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-icon {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #707070;
    margin-top: 40px;
}

@media (max-width: 700px) {
  header {
    height: 72px;
    padding: 0 20px;
    justify-content: center;
  }

  .logo-text {
    font-size: 20px;
    text-align: center;
    flex: 1;
  }

  .icon {
    width: 56px;
    height: 56px;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .nav a {
    font-size: 18px;
    padding: 10px 0;
  }

  .burger {
    display: flex;
  }

  #menu-toggle:checked ~ .nav {
    display: flex;
  }


  .home {
    background-image: url('img/iphone_home.png');
    padding: 0 20px;
    height: 610px;
  }
  
  .home-content {
    text-align: right;
    max-width: 336px;
  }

  .home h1 {
    font-size: 32px;
  }

  .home p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .home-btn {
    width: 193px;
    height: 40px;
    line-height: 40px;
    font-size: 15.5px;
    border-radius: 20px;
  }


  .shop-section {
    padding: 40px 20px;
  }

  .shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .shop-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
    }
    
  .product {
    width: 48%; 
    text-align: left;
    align-items: flex-start;
  }

  .product img {
    width: 100%;
    height: auto;
  }

  .product h3 {
    font-size: 16px;
    color: #961223;
    margin-top: 5px;
  }

  .size {
    font-size: 10px;
  }

  .desc {
    font-size: 12px;
    line-height: 13px;
    margin-top: 2px;
  }

  .price-container {
  gap: 8px;
  
  .price-container:hover .price,
  .price-container:hover .price-icon {
    color: #961223; 
  }}

  .price-icon {
    width: 20px;
    height: 20px;
  }
  
  .note-red {
    font-size: 11px;
    margin-top: 30px;
  }

  .note-black {
    font-size: 11px;
    line-height: 13px;
  }


  .harmony {
    padding: 40px 20px; 
  }

  .harmony-gallery {
    gap: 10px; 
  }
  .left img, .right img {
    height: 325px;  
  }
  .middle img {
    height: 155px;  
  }

  .harmony-text {
    margin-top: 20px;
  }

  .harmony-text h2 {
    font-size: 24px;
    color: #961223;
  }

  .harmony-text p {
    font-size: 12px;
  }

  .harmony-text .highlight {
    font-size: 16px;
    color: #961223;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .harmony-btn {
    width: 183px;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    border-radius: 90px;
  }


  .about {
    padding: 20px 20px;
  }

  .about h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .about-content {
    flex-direction: column;
    height: auto;
  }

  .about-img {
    width: 100%;
    margin-bottom: 5px;
  }

  .about-text {
    width: 100%;
  }

  .about-text h2, .about-text h3 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 12px;
  }

  .about-text ul {
    font-size: 12px;
  }

  .about-quote {
    font-size: 20px;
    border-radius: 45px;
    padding: 20px;
    margin-top: 20px;
  }

  .contact {
        padding: 30px 20px;
        text-align: center;
    }

    .contact-title {
        font-size: 24px;
    }

    .contact-subtitle {
        font-size: 12px;
    }

    .contact-wrapper {
        flex-direction: column;
        margin-top: 20px;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        font-size: 12px;
    }
    .contact-right .right-heading {
        margin-top: 30px;
    }
    .left-heading,
    .right-heading {
        font-size: 16px;
        margin-top: 20px;
    }

    .contact-form label {
        font-size: 12px;
    }

    .contact-form input {
        font-size: 12px;
    }

    .contact-form textarea {
        height: 80px;
    }

    .submit-btn {
        width: 43px;
        height: 15px;
        font-size: 10px;
    }

    .small-text {
        font-size: 8px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }
    .social-row {
        justify-content: center;    
        text-align: center;           
    }

    .social-row span {
        display: inline-block;       
        text-align: center;
        font-size: 12px;             
    }

    .footer-bottom {
        font-size: 8px;
        margin-top: 20px;
    }
}
